/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: 0 auto;  /* Changement ici : on spécifie margins horizontales */
    font-family: 'Work Sans';
    font-size: 14px;
    overflow-x: hidden;  /* Empêche le défilement horizontal */
}

/* Ajouter un conteneur principal si nécessaire */

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
    justify-items: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery figure {
    width: 100%;
    max-width: 350px;
    margin: 0;
}

.gallery figure img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    max-width: 350px;
}

#contact {
	width: 50%;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.filters {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: 2em;
}

.filter-button {
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	border: #1D6154 1px solid;
	border-radius: 60px;
	font-size: 16px;
	padding: 5px 15px;
}

.filter-button-selected {
	background-color: #1D6154;
	color: white;
}

/***** style de la page login *****/

.form__title{
	font-family: 'Syne';
	font-size: 30px;
	color: #1D6154;
	text-align: center;
	margin-bottom: 20px;
}

.form{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
}

.form__label{
	font-family: 'Syne';
	color: #1D6154;
	margin-top: 20px;
}

#email,
#password{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form__button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	padding: 10px;
}

.form__link{
	font-family: 'Syne';
	color: #1D6154;
	text-align: center;
	text-decoration: underline;
}

.login__container{
	margin: 150px 0;
}

html, body {
    height: 100%;
}

.login__body {
    display: flex;
    flex-direction: column;
}

.login__container {
    flex: 1;
}

.gras{
	font-weight: 600;
}

a {
	text-decoration: none;
	color: inherit;
}

.title__container{
	display: flex;
	justify-content: center;
}

.fa-solid.fa-pen-to-square{
	font-size: 14px;
	margin: 10px 5px 0 20px;
}

.modifier:hover{
	color: #B1663C;
	cursor: pointer;
	text-decoration: underline;
}

.edit__mode{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	height: 60px;
}

.edit__mode .fa-solid.fa-pen-to-square{
	margin-top: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 40%;
	border-radius: 10px;
	min-height:600px ;
}

.modal-title{
	font-size: 26px;
	font-weight: 400;
	color: black;
	font-family: "Work Sans";
	text-align: center;
	margin-top: 50px;
}

.modal-button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	padding: 10px;
	width: 200px;
	border-radius: 60px ;
	border: none;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
	cursor: pointer;
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    padding: 40px 40px; 
}

.photos-container img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

hr{
	opacity: 0.5;
	width: 80%;
}

.photo-item {
    position: relative;
    width: 100%;
}

/* Pour les images dans la modal*/
.photo-item img {
    width: 100%;
    aspect-ratio: 101/135;
    object-fit: cover;
}

.icon-container {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    font-size: 10px;
    color: white;
}

/**********************modal pour ajouter des projet*********************************/
.modal-add-file {
    padding: 40px;
	display: block;
}

.fa-solid.fa-arrow-left{
	font-size:20px;
	cursor: pointer;
}

.modal-title-file{
	margin: 20px;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 169px;
    position: relative;
    background-color: #E8F1F6;
}

.upload-box i {
    font-size: 60px;
    color: #B9C5CC;
}

.upload-box input {
    display: none;
}

.upload-box img {
    width: 129px;
    height: 169px;
    object-fit: contain;
    position: absolute;
}

.upload-box .icon-container {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-box .icon-container i {
    font-size: 20px;
    color: white;
}

.upload-text {
    background-color: #CBD6DC;
    color: #306685;
    border-radius: 50px;
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 30px; 
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
	height: 50px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#title{
	border: none;
	width: 95%;
}

.none{
	display: none;
}

.error-message {
    color: red;
	font-weight: 900;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.submit-button-disabled {
    background-color: #A7A7A7 !important; /* Couleur grise */
    cursor: not-allowed; /* Indiquer que le bouton est désactivé */
}

#confirmation-message {
    color: green;
    text-align: center;
    margin-top: 20px;
	font-weight: 900;
}